<main class="main_center">
  <h2>ユーザー編集</h2>
  <%= form_with model:@user, url: user_path(@user), local: true do |f| %>
    <div class="field">
      <div class="icon">
        <%= image_tag url_for(current_user.avatar), size: '50x50' %>
      </div>
    </div>
    <%= render 'layouts/error_messages', model: f.object %>
    <div class="field">
      <%= f.label :name, "【変更後のユーザー名】" %><br>
      <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "変更後メールアドレス（変更しない場合は入力不要）" %>
    </div>
    <div class="field">
      <%= f.label :email, "【変更後のメールアドレス】" %><br>
      <%= f.email_field :email, autocomplete: "email", placeholder: "変更後メールアドレス（変更しない場合は前回登録時のメールアドレスを使用）" %>
    </div>

    <div class="field">
      <%= f.label :introduction, "【自己紹介】" %><br>
      <%= f.text_area :introduction, autocomplete: "introduction", placeholder: "変更しない場合は入力不要" %>
    </div>

    <div class="field">
      <%= f.label :avater, "【プロフィール画像の変更】" %><br>
      <%= f.file_field :avatar %>
    </div>

    <div class="actions">
      <%= f.submit "更新" %>
    </div>
  <% end %>
  <div class="link_box">
    <%= link_to "アカウント削除", @user, method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn_red" %></br>
    <%= link_to "戻る", :back, {class: "round_btn_grey"} %></br>
    <%= link_to 'パスワードを変更する', edit_user_registration_path, {class: "password_link"} %>
  </div>
</main>
