
<div class="card">
  <div class="card-body">
    <h4 class="card-title">
      <%= link_to board_path(board.id) do %>
        <%= board.title %>
      <% end %>
    </h4>
    <ul class="list-inline">
      <%= link_to user_path(board.user_id) do %>
        <li class="list-inline-item">
          <%= image_tag url_for(board.user.avatar), size: '30x30' %>
        </li>
        <li class="list-inline-item">
          <%= board.user.name %>
        </li>
      <% end %>
      <li class="list-inline-item">
        <%= l board.created_at, format: :long %>
      </li>
    </ul>
    <div class="board_body">
      <div class="text_area">
        <p class="card-text"><%= board.body %></p>
      </div>
      <div class="board_image">
        <% board.images.each do |image| %>
          <%= image_tag url_for(image), size: '150x150' %>
        <% end %>
      </div>
      <div class="address">
        <p>釣り場： <%= board.address %> </p>
      </div>
    </div>
  </div>
</div>
