<div class="row">
  <div class="col-md-3 col-lg-3">
    <div class="left_side_bar">
      <div class="user_information">
        <%= image_tag url_for(user.avatar), size: '150x150' %>
        <h3><%= user.name %></h3>
      </div>
      <div class="icon_container">
        <div class="icon_box">
          <%= link_to followings_user_path(user) do %>
            <% if current_page?(followings_user_path) %>
              <p><i class="fa-solid fa-user-check fa-2x" style="color: royalblue;"></i></p>
            <% else %>
              <p><i class="fa-solid fa-user-check fa-2x"></i></p>
            <% end %>
            <p>フォロー中</p>
          <% end %>
        </div>
        <div class="icon_box">
          <%= link_to followers_user_path(user) do %>
            <% if current_page?(followers_user_path) %>
              <p><i class="fa-solid fa-users fa-2x" style="color: royalblue;"></i></p>
            <% else %>
              <p><i class="fa-solid fa-users fa-2x"></i></p>
            <% end %>
            <p>フォロワー</p>
          <% end %>
        </div>
        <div class="icon_box">
          <%= link_to user_path(user) do %>
            <p><i class="fa-solid fa-rotate-left fa-2x"></i></p>
            <p>戻る</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-6 user_list">
    <%  follow_users.each do |user| %>
      <div class="card">
        <div class="card-body">
          <div class="user_box">
            <ul class="list-inline">
              <%= link_to user_path(user.id) do %>
                <li class="list-inline-item">
                  <%= image_tag url_for(user.avatar), size: '30x30' %>
                </li>
                <li class="list-inline-item">
                  <%= user.name %>
                </li>
              <% end %>
              <li class="list-inline-item">
                <% if current_user.id != user.id %>
                  <%= render 'shared/follow_button', user: user %>
                <% end %>
              </li>
              <li class="introduction">
                <%= user.introduction %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
