<div class="card">
  <div class="card-body">
    <ul class="list-inline">
      <%= link_to user_path(board.user_id) do %>
        <li class="list-inline-item">
          <%= image_tag url_for(board.user.avatar), size: '30x30' %>
        </li>
        <li class="list-inline-item">
          <%= board.user.name %>
        </li>
      <% end %>
      <li class="list-inline-item">
        <%= l board.created_at, format: :long %>
      </li>
    </ul>
    <div class="row board_contents">
      <% if board.images.attached? %>
        <div class="left_image">
          <%= image_tag url_for(board.images[0]), size: '150x150' %>
        </div>
      <% end %>
      <div class="right_content">
        <h5 class="card-title">
          <%= link_to board_path(board.id) do %>
           【<%= board.title %>】
          <% end %>
        </h5>
        <p class="card-text">
          <%= truncate(board.body, length: 20) do %>
            <%= link_to "続きはこちら", board_path(board.id) %>
          <% end %>
        </p>
        <div class="row">
          <p class="card-address">
            <i class="fa-solid fa-location-dot"></i>
            <%= board.address %>
          </p>
          <% if user_signed_in? %>
            <%= render "shared/favorites", board: board %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
