<!DOCTYPE html>
<html>
  <head>
    <title>Fishing sharing</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=devise-width, initial-scale=1.0" />
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <script src="https://kit.fontawesome.com/af8ca5731c.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/message' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
